<h1>Your report for <%= @eaten_product.format_date %></h1>

<div>
  <p>Hello, <%= @user.email.split('@')[0] if @user.name.nil? || @user.name %>!</p>
  Here is the list of what you have eaten:
    <% @eaten_product.meals.each do |eaten_product| %>
      <ul class="list-group">
        <li class="list-group-item mt-1 col-sm-2">
          <%= eaten_product.name.capitalize %>
        </li>
      </ul>
    <% end %>
</div>

<div class="card-body mt-3">
  <h3>Stats for this day:</h3>
    <%= render 'table', object: @eaten_product %>
</div>