@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
  background-color: #f6fcf3;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding-bottom: 50px;
}

.navbar, .navbar-light {
  background-color: #A4C3B2;
}

.btn-primary {
  background-color: #6B9080;
  border: #6B9080;
}

.btn-primary:hover {
  background-color: #729b79;
}

.link-success {
  color: #2e2c2f;
}

.alert-alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-notice {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.btn-group {
  display: flex;
}

.left-group {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.right-group {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}